body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    
        background: url('images/background-image.jpg') no-repeat center center fixed;
        background-size: cover;
    
    
}

h2 {
    border-bottom: 2px solid #333;
    padding-bottom: 10px;
}

/* .card {
    margin-bottom: 20px;
} */

footer a {
    font-size: 1.5rem;
    text-decoration: none;
}

form .form-group {
    margin-bottom: 1rem;
}
.card-img-top {
    height: 200px; /* Adjust this value as needed */
    object-fit: cover; /* This keeps the aspect ratio while filling the height */
    width: 100%; /* Ensures the image fits the card width */
}
.card {
    min-height: 350px; /* Adjust based on the tallest card */
}
